* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    src: url(font/BaiJamjuree-Regular.ttf);
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


body {
    background-color: #F2F1EF;
}

.top-container {
    max-width: 1280px;
    margin: auto;
}

.container {
    margin: auto;
    max-width: 1060px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    min-height: 96px;
    box-sizing: border-box;
    align-items: center;
    margin: 0 0 40px 0;
}

.page-header-nav-list {
    display: flex;
    gap: 32px
}

.page-header-nav-list-item {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #161513;
    border-bottom: 1px solid #161513;
}

.button-call-to-subaction {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #161513;
    padding: 13px 33px;
    border: 1px solid #161513;
    transition: ease-in 0.3s;
}

.button-call-to-subaction:hover {
    background-color: #cfcfcd;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 120px 0;
}

.top-content-item-heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.56px;
    color: #161513;
    margin: 0 0 32px 0;
}

.heading-top {
    display: flex;
    gap: 12px;
    align-items: center;
}

.button-call-to-action {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 13px 33px;
    background: #161513;
    border: 1px solid #161513;
    transition: ease-in 0.3s;
}

.button-call-to-action:hover {
    background: #E94D35;
    border: 1px solid #E94D35;

}

.top-content-item-direction {
    display: flex;
    gap: 16px;
    align-items: center;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
    color: #161513;
    margin: 0 0 40px 0;
}

.top-content-item-buttons {
    display: flex;
    gap: 0px;
}

.direction-line {
    background: #161513;
    background-size: 100vw;
    min-height: 68px;
    display: flex;
    gap: 68px;
    align-items: center;
    justify-content: center;
    transform: rotate(-5deg);
    margin-bottom: 140px;
}

.direction-line-item {
    display: flex;
    gap: 16px;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.about-item-name {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
    color: #161513;
    display: flex;
    gap: 8px;
    align-items: center;
}

.about-item-heading {
    max-width: 351px;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.56px;
    color: #161513;
    margin-top: 22px;
}

.about-item2 {
    max-width: 612px;
}

.about-item-text-main {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 40px;
    letter-spacing: 0.64px;
    color: #161513;
    margin-bottom: 36px;
}

.about-item-text-sub {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #161513;
    margin-bottom: 28px;
}

.about-item-data {
    display: flex;
    justify-content: space-between;
}

.about-item-data-text-header {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #E94D35;
}

.about-item-data-text-span {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
    color: #161513;
}

.stats {
    display: flex;
    margin-bottom: 120px;
}

.stats-item {
    border: 2px solid #332F29;
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
    min-width: 352px;
    min-height: 152px;
}

body>main>section.stats.container>article:nth-child(2) {
    background-color: #161513;
}

body>main>section.stats.container>article:nth-child(2)>h4 {
    color: #FFFFFF;
}

body>main>section.stats.container>article:nth-child(2)>span {
    color: #FFFFFF;
}

.stats-item-header {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    color: #161513;
}

.stats-item-text {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: #161513;
}

.awards,
.portfolio,
.services,
.customer,
.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.awards-header,
.portfolio-header,
.services-header,
.customer-header,
.articles-header {
    margin: 22px 0 9px 0;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #161513;
}

.awards-span,
.portfolio-span,
.services-span,
.articles-span {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    color: #161513;
    margin-bottom: 60px;
}

.awards-item,
.articles-item {
    border: 2px solid #161513;
    padding: 38px 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1060px;
    box-sizing: border-box;
    background: transparent;
    transition: ease-in 0.3s;
}

.awards-item:hover {
    background: #e0695785;
}

.awards-item-number_text,
.articles-item-number_text {
    display: flex;
    align-items: center;
    gap: 24px;
}

.awards-item-number {
    width: 48px;
    height: 48px;
    background: #E94D35;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.awards-item-list,
.portfolio-item-list,
.articles-item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.awards-item-text-header,
.articles-item-text-header {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
    color: #161513;
}

.awards-item-text-span {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #161513;
}

.awards-item-type_year {
    display: flex;
    gap: 22px;
}

.awards-item-type,
.awards-item-year {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #161513;
}

.portfolio-item-list {
    gap: 96px;
}

.portfolio-item {
    display: flex;
    gap: 44px;
    justify-content: space-between;
    align-items: center;
}

.portfolio-item-type {
    max-width: 182px;
    background: #E94D35;
    padding: 9px 17px;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.portfolio-item-header {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #161513;
    margin: 30px 0 49px 0;
}

.portfolio-item-link {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #161513;
}

body>main>section.portfolio.container>div>article:nth-child(2) {
    flex-direction: row-reverse;
}

body>main>section.portfolio.container>div>article:nth-child(4) {
    flex-direction: row-reverse;
}

.services-item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    row-gap: 40px;
}

.services-item {
    box-sizing: border-box;
    padding: 34px 49px 30px 34px;
    max-width: 510px;
    background: transparent;
    border: 2px solid #161513;
    transition: ease-in 0.3s;
}

.services-item:hover {
    background: #e0695785;
}

.services-item-header {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 40px;
    letter-spacing: 0.64px;
    color: #161513;
    margin-bottom: 28px;
}

.services-item_text {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #161513;
}

.customer-list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
}

.articles-item-text-direction_date {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: #E94D35;
}

.articles-item-p {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161513;
    max-width: 440px;
}

.articles-item {
    gap: 60px;
    background: transparent;
}

.articles-item:hover {
    background: #e0695785;
}

.articles-item-list-button {
    background-color: #161513;
    padding: 14px 0;
    width: 100%;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 60px;
    transition: ease-in 0.3s;
}

.articles-item-list-button:hover {
    background-color: #E94D35;
}

.articles {
    position: relative;
}

.articles::after {
    content: url(img/star_sharp_big.svg);
    position: absolute;
    right: -413px;
    bottom: 110px;
}

.footer-content-subscribe {
    background: #E6E3DE;
    padding: 60px 0;
}

.footer-content-subscribe-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content-subscribe-text {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
    color: #161513;
}

.subscribe-input {
    padding: 12px 22px;
    border: #161513 solid 2px;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
    color: #161513;
    background: transparent;
}

.subscribe-button {
    padding: 12px 15px;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
    color: #FFFFFF;
    background: #131416;
    margin-left: 24px;
    transition: ease-in 0.3s;
    cursor: pointer;
}

.subscribe-button:hover {
    background: #E94D35;
}

.footer-content-info {
    background: #161513;
    padding: 90px 0;
}

.footer-content-info-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content-info-links {
    display: flex;
    gap: 46px;
    align-items: center;
}

.footer-content-info-links_item {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.footer-content-info-social {
    display: flex;
    gap: 16px;
}

.footer-content-info-social-item {
    min-width: 40px;
    min-height: 40px;
    border: 1px solid #969186;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}